/*body{ 

font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
}*/
/*efeitos globais*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div h1{
    font-family: 'Fraunces';
    font-size: 90px;
    position: relative;
    text-decoration: none;
    color: white;
    text-align: center;
    padding:  20%;
    
}
h2{
    color: #c4a47c;
}
p{
    text-align: center;
}
.parallax {

    position: relative;
    padding: 20%;
    color: #c4a47c;

}
.topo {
    width: 170%;
    position: fixed;
    z-index: 1;
}
.topo a{
    padding-left: 10px;
    text-decoration: none;
    color: #c4a47c;
    box-shadow: 100px 100px 100px black;
}
.banner1 {
    height: 100vh;
    background-image: url("assets/parallax-imagem1.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.banner2{
    height: 100vh;
    background-image: url("assets/parallax-imagem2.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.banner3{
    height: 100vh;
    background-image: url("assets/parallax-imagem3.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.banner4{
    height: 100vh;
    background-image: url("assets/parallax-imagem4.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.banner5{
    height: 100vh;
    background-image: url("assets/cafeteria.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.texto{
    padding: 80px 80px;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: 1px;
    text-align: center;
    color: #666;
}
.parallax{
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.lista li { 
    position: relative;
    color: white;
    left: 25%;
}

.lista li div { 
    width: 40%;
    height: 1px;
    position: absolute;
    right: 50%;
    left: 0%;
    bottom: 50%;
    background-color: #acacac
}

.lista li p {
    position: absolute;
    top: 0;
    right: 55%;
}

.rodape{
    position: relative;
}
.rodape a{
    width: 60px;
    height: 60px;
    position: absolute;
    right: 50px;
    bottom: 80px;
}