P {
width: 430px;
font-family: cursive;
font-size: 34px;
text-align: center; color: #000000ad;
margin: 0;
}
div {
    position: relative;
}
 p{
    width: 430px;
    font-family: cursive; 
    font-size: 34px; 
    color: #000000ad;
    margin: 0;
    position: absolute;
    top: 140px;
    Left: 160px;
 }