h1{
    text-align: center;
}
div{
    width: 100px;
    height: 100px;
    border: 2px solid #000000;
    margin-top: 10px;
    text-align: center;
}
.div_fixa{
    position: fixed;
    border: 2px solid red;
    left: 300px;
    top: 450px;
}